body{
    background-color: #111111;
    background-image: url('img1.png');
    background-repeat: repeat;
    background-attachment: fixed;
}   

.navbar {
    background-color: transparent;
    padding: 30px 20px;
    font-size: 1.5em;

}
.navbar-menu{
    display: block;
    background: transparent;
}

.navbar-burger{
    color: #fafafa;
}

.navbar-item{
    color: #fafafa;
}
.navbar-end{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.navbar-brand{
    font-family: 'Orbitron', sans-serif;
}

.navbar-brand a:hover, .navbar-end a:hover{
    color: hsl(348, 100%, 61%); 
    background-color: #111111;
}

.hero{
    padding: 20px;
}

.card p, .content{
    color: #fafafa;
}


#footer-links{
    list-style: none;
    text-align: center;
}
#footer-links li{
    display: inline;
    padding: 10px;
}
#footer-links a{
    color: hsl(348, 100%, 61%);
}
#footer-links a:hover{
    color: #333;
}
.active-link{
    color: hsl(348, 100%, 61%);
}
.image{
    padding: 20px;
}
.card{
    border-radius: 3%;
    margin-top: 0;
    box-shadow: #00000033 2px 3px 4px;
}
.dropdown{
    width: 100%;
}
.dropdown-ul, .dropdown-ul li{
    padding:5px;
    
}
.dropdown-ul li a{
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1.2rem;
    font-weight: 600;
    
    display: block;
}
.dropdown-ul li:hover{
    background-color: #00000033;
}
tr, th{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    
}
.box{
    height: fit-content;
}
.dropdown-trigger {
    width: 100%
  }
.button {
    display: flex;
    width: 100%;
    justify-content: space-between
}
.dropdown-menu{
    width:100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image img{
    border-radius: 3px;
}

@media screen and (min-width: 1024px){
    .navbar-menu {
       opacity:1; 
       transition: none;
       position: relative;
       pointer-events: all;
    }
    .navbar-menu a{
        font-weight: 300;
    }
    .navbar-brand a:hover, .navbar-end a:hover{
        background-color: transparent;
    }
    .navbar-end{
        padding-right: 30px !important;
    }
}
