 html, body{
	width: 100%;
	height: 120vh
}
body{
    background-position: left;
    background-color: #111;
    background-image: url('https://lh3.googleusercontent.com/sruXGPhhxBtEi_gm928xoG6JN8142Abhur917xlfIc3sDbID0dZ5bFn8ulyeVNzevNsaFxIUG1NcbA0guQWJ-jOXnLfgcOIlr2O8JqR-3Xj2hu8X-CQFhLLExu-jztlBFaZHM5NsDqy06QvJIkCOTrzX8_VhXrzqdYASouoADZAHNSeBUtTcgCwByDCugBccwT6IbdCiTH5bL14s2MBJnsUvHnG0IwLE9h232ht5m3JMr-EMapIaB_Aa1izUuWOQxSde5Ez1KrHKavvhI2cyDC6WPLRI8mV5yEJkOl_2ia3vjaTMKouF2ulY0LKSDp_rL9OB6zvnFaWFkTrp3Dltn9yQPCMGsRbRDRy7CFtxzEoZUATfd4hGxt5D_BvseXGe76iz8BbeZ7kitFJTGdY2L_UGbw0zRC48IRKjTFWUb28gS-iVGYe9XUW8D8K-ZBmFkh7sFN4SHRC92W_7THZWx0sgFu4iEfZ3i8uNFTgTICzEkUS7jhNc7v5DJKcqUHqQAP21g_jz_i64SWjudPDxG84nubwV3lyj7cVfOCSbNh_7Jbg8xGvC9rJZc2cx2WJQWFK9z6xV2UgeUTBxTNazWpjoQYw1EeG5AKAHpOXQIO8NbmIRwxqdQsJJ1t8QvBw8jnSPcHoMGkiJH26vy-nhApn353BxdTw0CY9gNehA1KWcx_2qxe_jDQ=s400-no');
    background-repeat: repeat;
    
    background-size: auto;
}   

#fixed-bg{
    width: 100%;
		height: 100%;
		overflow: scroll;
}

.navbar {
    background-color: transparent;
    padding: 30px 20px;
    font-size: 1.5em;
    }
.navbar-menu{
    display: block;
    opacity: 0;
    position: absolute;   /* or float: left; width: 100%;*/
    left: 0;
    right: 0;
    transform: translateY(-1%);
    transition: all .3s ease-in-out;
    pointer-events: none;
}
.navbar-menu.is-active{
    background-color: #111111cc;
    opacity: 1;
    transform: none;
    pointer-events: auto;
}
.navbar-burger{
    color: #fafafa;
}
.is-one-third{
    min-height: 563px;
}
.navbar-item{
    color: #fafafa;
}
.navbar-end{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.navbar-brand{
    font-family: 'Orbitron', sans-serif;
}

.navbar-brand a:hover, .navbar-end a:hover{
    color: hsl(348, 100%, 61%); 
    background-color: #111111;
}

.menu-active{
    opacity: 0;
}

.hero{
    padding: 20px;
   
}
.card{
    margin-top: 10px;
    box-shadow: #00000033 2px 3px 4px;
}

.card p, .content{
    color: #fafafa;
}
.card-content{
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.media-content{
    position: absolute;
    top: 200px;
}

hr{
    width: 50%;
    margin: 20px auto;
}

.hover{
    background-color: #555555;
}
#footer-links{
    list-style: none;
    text-align: center;
}
#footer-links li{
    display: inline;
    padding: 10px;
}
#footer-links a{
    color: hsl(348, 100%, 61%);
}
#footer-links a:hover{
    color: #333;
}
.active-link{
    color: hsl(348, 100%, 61%);
}
#selects{
    width: fit-content;
    margin: 0 auto;
}
.card-footer a{
    color: hsl(348, 100%, 61%);
    font-family: 'Source Sans Pro', sans-serif;
}
.card-footer a:hover{
    color: #333;
}
img:hover{
    filter: brightness(50%);
}
.content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}
@media screen and (min-width: 1024px){
    .navbar-menu {
       opacity:1; 
       transition: none;
       position: relative;
       pointer-events: all;
    }
    .navbar-menu a{
        font-weight: 300;
    }
    .navbar-brand a:hover, .navbar-end a:hover{
        background-color: transparent;
    }
    .navbar-end{
        padding-right: 30px !important;
    }
    .hero h2{
        font-size: 1.7rem;
    }
}
