html{
    overflow: hidden;
}
body{
    background-image: url("img-2.png");
    background-repeat: no-repeat;
    
    background-size: cover;
    
   
    
}
.container{
    height:100%;
    position: relative;
}
.navbar {
    background-color: transparent;
    padding: 30px 20px;
    font-size: 1.5em;
    }
    .navbar-menu{
        display: block;
        background: transparent;
    }
.navbar-burger{
    color: #fafafa;
}
.navbar-item{
    color: #fafafa;
}
.navbar-end{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.navbar-brand{
    font-family: 'Orbitron', sans-serif;
}
.navbar-brand a:first{
    visibility: hidden;
}
.navbar-brand a:hover, .navbar-end a:hover{
    color: hsl(348, 100%, 61%); 
    background-color: #11111166;
}
.column{
    
    text-align: center;
}
h1 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 5px !important;
} 
hr{
    width: 60%;
    height: 0;
    margin: 0 auto 10px auto;
    border: 1px solid hsl(348, 100%, 61%);
    
}
p{
    color: #fafafa;
    font-family: 'Source Sans Pro', sans-serif;
}

h2{
    color: #fafafa;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: #111111 1px 4px 4px;
}
#selects{
    margin-top: 50px !important;
}

.hero{
    transition-duration: .1s;
    margin: 0 auto;
}
.menu-active{
    opacity: 0;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
}
#select-forms{
    background-color: #101010aa;
    box-shadow: #000000aa 2px 3px 4px;
}

@media screen and (min-width: 1024px){
    .navbar-menu {
       opacity:1; 
       transition: none;
       pointer-events: visible;
    }
    .navbar-menu a{
        font-weight: 300;
    }
    .navbar-brand a:hover, .navbar-end a:hover{
        background-color: transparent;
    }
    
    .hero h1{
        font-size: 5rem !important;
    }
    .hero p{
        font-size: 1.7rem !important;
    }
    .hero h2{
        font-size: 1.8rem !important;
    }
    
}
@media screen and (min-width: 768px) and (min-height:500px){
    h1{
        margin-top: 20%;
    }
}
@media screen and (min-width:640px) and (max-width: 812px){
    .hero{
        margin-top: 0;
        zoom:.7;
    }
    .navbar{
        padding-bottom: 0;
    }
}
