  body:before{
    content:"";
    position:fixed;
    z-index:-1;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background:url('https://lh3.googleusercontent.com/sruXGPhhxBtEi_gm928xoG6JN8142Abhur917xlfIc3sDbID0dZ5bFn8ulyeVNzevNsaFxIUG1NcbA0guQWJ-jOXnLfgcOIlr2O8JqR-3Xj2hu8X-CQFhLLExu-jztlBFaZHM5NsDqy06QvJIkCOTrzX8_VhXrzqdYASouoADZAHNSeBUtTcgCwByDCugBccwT6IbdCiTH5bL14s2MBJnsUvHnG0IwLE9h232ht5m3JMr-EMapIaB_Aa1izUuWOQxSde5Ez1KrHKavvhI2cyDC6WPLRI8mV5yEJkOl_2ia3vjaTMKouF2ulY0LKSDp_rL9OB6zvnFaWFkTrp3Dltn9yQPCMGsRbRDRy7CFtxzEoZUATfd4hGxt5D_BvseXGe76iz8BbeZ7kitFJTGdY2L_UGbw0zRC48IRKjTFWUb28gS-iVGYe9XUW8D8K-ZBmFkh7sFN4SHRC92W_7THZWx0sgFu4iEfZ3i8uNFTgTICzEkUS7jhNc7v5DJKcqUHqQAP21g_jz_i64SWjudPDxG84nubwV3lyj7cVfOCSbNh_7Jbg8xGvC9rJZc2cx2WJQWFK9z6xV2UgeUTBxTNazWpjoQYw1EeG5AKAHpOXQIO8NbmIRwxqdQsJJ1t8QvBw8jnSPcHoMGkiJH26vy-nhApn353BxdTw0CY9gNehA1KWcx_2qxe_jDQ=s400-no') center center repeat;
  }

.navbar {
    background-color: transparent;
    padding: 30px 20px;
    font-size: 1.5em;
    }
.navbar-menu{
    display: block;
    opacity: 0;

    position: absolute;   /* or float: left; width: 100%;*/
    left: 0;
    right: 0;

    transform: translateY(-1%);
    transition: all .3s ease-in-out;
    pointer-events: none;
}
.navbar-menu.is-active{
    background-color: #11111199;
    opacity: 1;
    transform: none;
    pointer-events: auto;
}
.navbar-burger{
    color: #fafafa;
}
.navbar-item{
    color: #fafafa;
}
.navbar-end{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.navbar-brand{
    font-family: 'Orbitron', sans-serif;
}

.menu-active{
    opacity: 0;
}

.hero{
    padding: 20px;
   
}
.card{
    margin-top: 10px;
    
}
.card p, .content{
    color: #fafafa;
}
.media{
    margin-bottom: 0 !important;
}
